// imports
@import '../../../theme/index.scss';

.navbar {
  &__list {
    @include flex($justify: space-evenly, $align: center);
    @extend %uppercase-text;
    border-bottom: 0.0625rem solid;
    margin: 2rem 0 0 0;
    padding: 0;

    &-item {
      list-style-type: none;
    }

    &-logo {
      width: 12rem;
    }
  }
}
