// colors
$primary: #F1E0DB;
$secondary: #F9AF98;

// backgrounds
$base-bg: $primary;
$footer-bg: #EBD8D3;



// font-family
$font-family-uppercase: 'Alegreya Sans SC', sans-serif;
$font-family-cormorant: 'Cormorant Garamond', serif;

// font-weight
$font-weight-700: 700;