@import '../../../theme/mixins.scss';
@import '../../../theme/base.scss';

.home {
    @include flex($direction: column-reverse);
    @media (min-width: 1280px) {
        @include flex($justify: center);
    }

    &_content {
        @include flex($direction: column, $justify: center);
        max-width: 30rem;

        &__title {
            font-family: $font-family-cormorant;
            font-size: 3.125rem;
            margin: 0;
        }

        &__subtitle {
            font-family: $font-family-uppercase;
            text-transform: lowercase;
            margin: 0;
            font-size: 1.375rem;
        }

        &__button {
            margin-top: 2.5rem;
        }
    }

    &_image {
        @media (min-width: 1280px) {
            max-width: 20rem;
            min-width: 20rem;
        }
    }
}